body {
  margin: 0;
  font-family: "Spartan", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Spartan", sans-serif !important;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
